* {
	font-family: sans-serif;	
	margin: 0;
	padding: 0;
}

#button_field{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#button_field > button{
	margin: 2rem;
	width: 20rem;
	height: 5rem;
}